@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    /* ---- Colors ---- */

    /* Accent */
    --main-accent-color: #c7ff6c; /* neon */ /* Цвет шкалы */
    --accent-and-details-color: #003a4c; /* sea */
    --additional-accent-color: #b5a4de; /* lilac */

    /* Basic */
    --basic-main-text-color: #272727; /* black */
    --basic-background-color: #e3ebf7; /* blue */
    --dark-gray-text-color: #535f63; /* grey text */ /* Основной цвеет кнопкищк summarize */
    --thin-line-color: #c1c8cc; /* light grey */ /* Основной цвеет фона кнопки summarize */
    --secondary-text-and-elements-color: #808587; /* grey */ /* Цвеет ховера кнопок на борде и второстепенного текста на борде*/
    --basic-back: #EAEAEA; /* Задний фон шкалы */
    --downloaded-text-color: #5E9CFA; /* Цвет посказки загрузки файла */

    /* System */
    --neon-elements-hover-or-click-color: #94ef00; /* neon green */
    --error-text-color: #ff1701; /* red */

    /* ---- Other ---- */
    --border-backgroung-color: #f8f8fa; /* Цвет для фона бордов */
    --hr-scrol-color: #e4dff2; /* Цвет для линии и заднего фона скролбара textarea */
    --main-border-btn-color: #9468ff; /* Основной цвет кнопок на борде */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: var(--basic-main-text-color);
}

#history-container {
    display: flex;
    flex-direction: column;
}

#history-header {
    margin: 32px 0 32px 24px;
}

#table-container {
    margin-left: 16px;
}

#sorting-container {
    display: flex;
    align-items: center;
    margin-left: 8px;
    width: 1160px;
}

#filter-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#filter-by-container {
    display: flex;
    align-items: center;
    padding: 8px 4px 8px 0;
    gap: 2px;
}

.filter-items {
    display: flex;
    align-items: center;
    gap: 4px;

    height: 34px;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--border-backgroung-color);
    cursor: pointer;
}

.filter-items p {
    cursor: pointer;
}

#search-container {
    position: relative;
    margin-left: auto;
}

#search-input {
    width: 278px;
    height: 36px;
    padding: 8px 16px;
    padding-left: 40px;
    border-radius: 32px;
    border: 1px solid var(--basic-back);
}

#search-input:focus {
    outline: none;
}

#search-icon {
    position: absolute;
    left: 14px; /* Позиция изображения слева */
    top: 50%;
    transform: translateY(-50%);
}

#search-input::placeholder {
    color: var(--secondary-text-and-elements-color);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
}

#history_table {
    margin-top: 32px;
    border-collapse: collapse; 
    cursor: pointer; 
}

#table-headers th {
    padding-bottom: 10px;
}

#table-headers th:first-child {
    padding-left: 8px;
}

#history_table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#requestDate-header {
    width: 188px;
}

#side1-header {
    width: 265px;
}

#side2-header {
    width: 265px;
}

#contractType-header {
    width: 254px;
}

#tag-header {
    width: 146px;
}

#actions-header {
    width: 58px;
}

#history_table th:nth-child(1), #history_table td:nth-child(1) {
    max-width: 188px;
}

#history_table th:nth-child(2), #history_table td:nth-child(2) {
    max-width: 265px;
}

#history_table th:nth-child(3), #history_table td:nth-child(3) {
    max-width: 265px;
}

#history_table th:nth-child(4), #history_table td:nth-child(4) {
    max-width: 254px;
}

#history_table th:nth-child(5), #history_table td:nth-child(5) {
    max-width: 146px;
}

#history_table th:nth-child(6), #history_table td:nth-child(6) {
    max-width: 58px;
}

#history_table tbody td {
    padding: 16px 10px 16px 0;
}

/* #history_table tbody tr {
    border-bottom: 1px solid var(--hr-scrol-color);
} */

.sort span::after {
    content: url("../imgs/sort.png"); /* Путь к вашему изображению */
    margin-left: 8px; /* Расстояние между словом и изображением */
    vertical-align: middle;
}

.sort-top span::after {
    content: url("../imgs/active-sort-top.png"); /* Путь к вашему изображению */
    margin-left: 8px; /* Расстояние между словом и изображением */
    vertical-align: middle;
}

.sort-bottom span::after {
    content: url("../imgs/active-sort-bottom.png"); /* Путь к вашему изображению */
    margin-left: 8px; /* Расстояние между словом и изображением */
    vertical-align: middle;
}

#empty-history-container {
    position: absolute;
    top: 118px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 118px;
}

.info-cell {
    border: none;
    padding: 0px !important;

    overflow: hidden;
    height: 0;
    transition: height 1s ease;
}

.expandable-row {
    border-bottom: 1px solid var(--hr-scrol-color);
}

.expandable-first-row {
    border: 1px solid var(--main-accent-color);
    border-radius: 8px;
}

#info-container {
    overflow: hidden;
    height: 0;
    transition: height 1s ease;
}

.expanded #info-container {
    padding: 0 39px 0 188px;

    border-radius: 8px;
    background-color: var(--border-backgroung-color);
    border-bottom: 1px solid var(--basic-background-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.curr-expanded-row{
    background-color: var(--border-backgroung-color);
    border-bottom: none;
}

.info-title {
    display: flex;
    align-items: end;
    margin-bottom: 12px;
}

.info-hr {
    width: 888px; 
    margin: 0 0 3px 3px;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.info-point {
    display: flex;
    align-items: center;
    text-wrap:wrap;
    gap: 148px;
}

.info-point-title {
    min-width: 117px;
    color: var(--secondary-text-and-elements-color);
}

.action-container {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 12px;
    padding: 0 0 0 12px;
}

.tag-container {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    padding: 2px 10px;

    border-radius: 32px;
    background-color: var(--border-backgroung-color);
}

.tag-dots {
    width: 6px;
    height: 6px;
    border-radius: 20px;
}

.no-tag-text {
    color: var(--thin-line-color);
}

#actions-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 198px;
    min-height: 167px;
    padding: 19px 24px;

    position: absolute;
    right: 0;
    top: 0;

    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 13px 0px #042A4A1A;
}

.action-menu-point {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

#edit-tag-text-container:hover{
    color: var(--main-border-btn-color);
}

#edit-tag-text-container:hover img {
    content: url('../imgs/shoppingmode_hover.png');
}

#edit-tag-container span:hover{
    color: var(--main-border-btn-color);
    background-color: var(--hr-scrol-color);
}

#edit-tag-container:hover #edit-tag-text-container{
    color: var(--main-border-btn-color);
}

#edit-tag-container:hover #edit-tag-text-container img{
    content: url('../imgs/shoppingmode_hover.png');
}

.copy-to-clipboard:hover{
    color: var(--main-border-btn-color);
}

.copy-to-clipboard:hover img {
    content: url('../imgs/content_copy_hover.png');
}

.download-summary:hover{
    color: var(--main-border-btn-color);
}

.download-summary:hover img {
    content: url('../imgs/download_hover.png');
}

.action-delete-text {
    color: var(--error-text-color);
}

#copy-menu {
    display: flex;
    align-items: center;
    gap: 28px;

    width: 120px;
    height: 44px;
    padding: 6px 0 0 18px;

    position: absolute;
    right: 0;
    top: 0;

    background-image: url(../imgs/back-copy-menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.copy-menu-text {
    color: white;
    width: 28px;
    cursor: pointer;
}

.filter-menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#request-date-menu {
    width: 320px;
    height: 670px;
    padding: 60px 20px 0 32px;
    background-image: url(../imgs/back-request-date-filter.png);
}

.filter-header {
    display: flex;
    align-items: center;
    padding: 0 8px;
    width: 256px;
}

.filter-header img {
    margin-left: auto;
    cursor: pointer;
}

.filter-menu hr {
    margin: 8px 0 16px 0;
    width: 256px;
}

.switch-btns-container {
    display: flex;
    align-items: center;

    width: 240px;
    height: 33px;
    margin: 0 0 16px 8px;
    padding: 3px;

    border-radius: 6px;
    background-color: var(--basic-background-color);
}

.switch-btns-container button {
    text-align: center;

    width: 118px;
    height: 27px;

    border-radius: 4px;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.active-switch-btn {
    background-color: white !important;
}

/* Фон календаря */
.pika-single {
    border: none !important;
    background-color: transparent !important;
}

/* Стиль выделенной даты */
.is-selected {
    background-color: var(--basic-back) !important;
    border-radius: 8px !important;
}

.is-selected .pika-button, .has-event .pika-button {
    box-shadow: none !important; 
}

.pika-prev {
    margin-left: 115px !important;
    background-image: url("../imgs/date-back.png") !important;
}

.pika-next {
    background-image: url("../imgs/date-next.png") !important;
}

.pika-prev,
.pika-next {
    background-size: 30% !important;
    opacity: 100% !important;
}

.pika-title {
    margin-bottom: 8px;
}

.pika-table abbr {
    color: var(--main-border-btn-color);
}

abbr[title] {
    text-decoration: none !important;
}

.pika-title::before {
    position: absolute;
    left: 8px;
    top: 8px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;

    color: var(--main-border-btn-color);
}

.pika-title-from::before {
    content: "From" !important;
}

.pika-title-to::before {
    content: "To" !important;
}

.pika-button {
    color: var(--basic-main-text-color) !important;
    text-align: center !important;
    background: transparent !important;
    padding: 1px 0 !important;
    margin: 2px 0 !important;
    border-radius: 0 !important;
}

.apply-filter-btn {
    width: 66px;
    height: 27px;
    padding: 6px 16px;
    border-radius: 4px;

    margin: auto 18px 38px auto;
}

.highlighted-date {
    background-color: var(--basic-back) !important;
}

.left-select-date {
    border-radius: 8px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.right-select-date {
    border-radius: 8px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select-date {
    background-color: var(--basic-back) !important;
    border-radius: 8px !important;
}

.pika-single td.is-selected, .pika-single td.is-today, .pika-table td.is-highlighted {
    background: transparent !important;
}

.pika-table td:hover {
    background: transparent !important;
}

.is-outside-current-month .pika-button {
    opacity: 1 !important;
    color: var(--secondary-text-and-elements-color) !important;
}

.active-filter {
    background-color: var(--main-accent-color);
}

#side-menu {
    width: 320px;
    height: 670px;
    padding: 60px 20px 0 32px;
    background-image: url(../imgs/back-request-date-filter.png);
}

.side-filter-block {
    display: flex;
    flex-direction: column;
}

.search-filter-container {
    position: relative;
    margin-bottom: 10px;
    margin-left: 9px;
}

.search-icon {
    position: absolute;
    left: 14px; /* Позиция изображения слева */
    top: 50%;
    transform: translateY(-50%);
}

.search-filter-input {
    width: 240px;
    height: 34px;
    padding: 8px 16px;
    padding-left: 40px;
    border-radius: 32px;
    border: 1px solid var(--basic-back);
}

.search-filter-input:focus {
    outline: none;
}

.search-filter-input::placeholder {
    color: var(--secondary-text-and-elements-color);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
}

.side-filter-block {
    margin: 20px 10px 0 0;
}

.filter-menu ul {
    list-style-type: none;
}

.filter-menu ul li {
    position: relative;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    

    padding: 5px 0 0 10px;
    margin: 2px 0 2px 0;
    width: 250px;
    height: 30px;
    border-radius: 4px;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    
    cursor: pointer;
}

.selected-filter {
    background-color: var(--basic-background-color);
}

.selected-filter::after {
    content: url('../imgs/side-menu-check.png');
    position: absolute;
    right: 8px;
    bottom: 4px;
}

.side-header-filter {
    margin-left: 10px;
}

#type-menu {
    width: 340px;
    height: 420px;
    padding: 40px 20px 0 41px;
    background-image: url(../imgs/back-type-filter.png);
}

#apply-type-btn {
    margin: auto 20px 28px auto;
}

#type-menu ul li {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

#tag-menu {
    width: 340px;
    height: 535px;
    padding: 55px 20px 0 41px;
    background-image: url(../imgs/back-tag-filter.png);
}

#apply-tag-btn {
    margin: auto 20px 40px auto;
}

#tag-menu ul li {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

.filtered-tag {
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 10px;
    border-radius: 32px;
    gap: 4px;
    background: var(--border-backgroung-color);
}

#edit-tag-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 24px;

    transition: height 1s ease;
    overflow: hidden;
}

#edit-tag-text-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#edit-tag-container span {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    padding: 2px 10px;
    border-radius: 32px;
    background: var(--border-backgroung-color);
    margin-left: 29px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
}

#new-tag {
    padding: 2px 10px;
    border-radius: 32px;
    border: 1.5px dotted #000;

    width: 72px;
    height: 22px;
    text-wrap: none;

    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
}

#new-tag-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 198px;
    min-height: 167px;
    padding: 19px 16px;

    position: absolute;
    right: 0;
    top: 0;

    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 13px 0px #042A4A1A;
}

#new-tag-input {
    width: 166px;
    height: 34px;
    padding: 8px 10px 8px 8px;
    border-radius: 8px;
    border: 1px solid #C1C8CC4D;
}

#new-tag-input:focus {
    outline: none;
}

#new-tag-input::placeholder {
    color: #C1C8CC;

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
}

#color-header {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
}

.tag-text{ 
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
}

#color-coltainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#color-coltainer div {
    cursor: pointer;
}

#apply-new-tag {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

    width: 72px;
    height: 27px;
    padding: 6px 16px;
    border-radius: 4px;

    margin-left: 94px;
}

.selected-new-tag {
    background-color: var(--hr-scrol-color);
    color: var(--main-border-btn-color);
}

.new-tag-input-containet {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#new-tag-error {
    color: var(--error-text-color);
}

#apply-delete-container {
    width: 198px;
    height: 107px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 13px 0px #042A4A1A;

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px 21px;
}

.apply-delete-text {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: center;

    padding: 0 5px;
}

#apply-btns-container {
    display: flex;
    gap: 12px;
}

#cancel-delete {
    width: 73px;
    height: 27px;
    padding: 6px 16px;
    border-radius: 4px;
}

#cancel-delete:active {
    color: #FFFFFF;
    background-color: var(--main-border-btn-color);
}

#apply-delete {
    width: 70px;
    height: 27px;
    padding: 6px 16px;
    border-radius: 4px;

    border: 1px solid var(--main-border-btn-color);
    background-color: transparent;
    color: var(--main-border-btn-color);

    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

    cursor: pointer;
}

#apply-delete:active {
    border: none;
    background-color: var(--error-text-color);
    color: #FFFFFF;
}

#info-copy-download {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    height: 56px;
    border-radius: 8px;
    padding: 11px 24px;
    gap: 12px;

    background-color: #FFFFFF;
    box-shadow: 1px 1px 13px 0px #042A4A1A;
}

#text-info-copy-download {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
}