:root {
    /* ---- Colors ---- */

    /* Accent */
    --main-accent-color: #c7ff6c; /* neon */ /* Цвет шкалы */
    --accent-and-details-color: #003a4c; /* sea */
    --additional-accent-color: #b5a4de; /* lilac */

    /* Basic */
    --basic-main-text-color: #272727; /* black */
    --basic-background-color: #e3ebf7; /* blue */
    --dark-gray-text-color: #535f63; /* grey text */ /* Основной цвеет кнопки summarize */
    --thin-line-color: #c1c8cc; /* light grey */ /* Основной цвеет фона кнопки summarize */
    --secondary-text-and-elements-color: #808587; /* grey */ /* Цвеет ховера кнопок на борде и второстепенного текста на борде*/
    --basic-back: #EAEAEA; /* Задний фон шкалы */
    --downloaded-text-color: #5E9CFA; /* Цвет посказки загрузки файла */

    /* System */
    --neon-elements-hover-or-click-color: #94ef00; /* neon green */
    --error-text-color: #ff1701; /* red */

    /* ---- Other ---- */
    --border-backgroung-color: #f8f8fa; /* Цвет для фона бордов */
    --hr-scrol-color: #e4dff2; /* Цвет для линии и заднего фона скролбара textarea */
    --main-border-btn-color: #9468ff; /* Основной цвет кнопок на борде */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: var(--basic-main-text-color);
}

.content {
    display: flex;
}

#sidebar {
    min-width: 232px;
    height: 720px;
    background-color: var(--border-backgroung-color);
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    height: 660px;
    gap: 40px;
    padding: 24px 0 32px 0;
}

#menu-header {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.menu-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-title {
    color: var(--secondary-text-and-elements-color);
    margin-left: 24px;
    padding-left: 5px;
}

.menu-point {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.active-menu-point {
    position: relative;
    color: var(--main-border-btn-color);
}

.menu-text-point {
    display: flex;
    align-items: center;
    margin-left: 24px;
    gap: 12px;
}

.active-rectangle {
    position: absolute;
    left: 0;
}

#account-container {
    display: flex;
    flex-direction: column;
    margin: 0 24px 32px 24px;
    gap: 8px;
    position: relative;
}

#community-menu-container {
    display: flex;
    flex-direction: column;
}


#community-menu-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

#community-menu-ul li {
    margin-left: 62px;
    margin-top: 10px;
}

#community-menu-ul a {
    cursor: pointer;
    color: var(--basic-main-text-color);
    text-decoration: none;
}

.dropdown-content {
    min-width: max-content;
    overflow: hidden;
    height: 0;
    transition: height 0.8s;
}

#user-email {
    cursor: pointer;
    color: var(--secondary-text-and-elements-color);
}

#email-menu {
    position: absolute;
    bottom: 15px;
    left: 15px;

    width: 136px;
    height: 120px;
    border-radius: 8px;

    background: #FFFFFF;
    box-shadow: 2px 2px 4px 0px #31366626;
    box-shadow: 1px 1px 21px 0px #3136661A;
}

#email-menu-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 16px;
}

#email-menu-container a {
    cursor: pointer;
    color: var(--basic-main-text-color);
    text-decoration: none;
}

#logout-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

#logout-link p {
    align-items: center;
    color: var(--error-text-color);
}

#summarize-container {
    display: flex;
    flex-direction: column;
}

.summarize-heading {
    margin-top: 32px;
    margin-left: 24px;
}

.boards {
    margin-top: 38px;
    display: flex;
    gap: 16px;
}

.board {
    border-radius: 8px;
    background-color: var(--border-backgroung-color);
}

#upload-contract-board {
    width: 572px;
    height: 245px;
    padding: 16px 24px 53px 24px;
    gap: 32px;
    margin-left: 24px;
}

#requests-limit-board {
    width: 572px;
    height: 245px;
    padding: 16px 24px 53px 24px;
    gap: 32px;
}

hr {
    border-top: 1px solid var(--hr-scrol-color);
    border-left: none;
}

#upload-contract-board hr,
#requests-limit-board hr {
    margin-top: 16px;
}

.upload-contract-heading,
.requests-limit-heading {
    align-self: center;
    height: fit-content;
}

.limit-top,
.upload-top {
    display: flex;
}

.btn-requests-limit,
.btn-text-instead {
    margin-left: auto;
}

/* Стиль кнопок на бордах */
.secondary-btn{
    width: 180px;
    height: 35px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;
    white-space: nowrap;

    cursor: pointer;

    border: 1px solid var(--main-border-btn-color);
    background-color: transparent;
    color: var(--main-border-btn-color);
}

/* Стиль при наведении курсора */
.secondary-btn:hover {
    background-color: var(--additional-accent-color);
    color: var(--border-backgroung-color);
    border: none;
}

/* Стиль при нажатии кнопки */
.secondary-btn:active {
    background-color: var(--additional-accent-color);
    color: var(--border-backgroung-color);
    border: none;
}

.secondary-btn:disabled {
    border: 1px solid var(--secondary-text-and-elements-color);
    background-color: transparent;
    color: var(--secondary-text-and-elements-color);
    cursor: default;
}

/* Стиль для summarize кнопки */
.action-btn {
    width: 180px;
    height: 35px;
    padding: 10px 10px;
    border-radius: 8px;
    gap: 10px;
    white-space: nowrap;
    border: none;

    cursor: pointer;

    background-color: var(--main-border-btn-color);
    color: var(--border-backgroung-color);
}

.action-btn:hover{
    background-color: var(--additional-accent-color);
    color: var(--main-border-btn-color);
    border: none;
}

.action-btn:active{
    background-color: var(--additional-accent-color);
    color: var(--main-border-btn-color);
    border: none;
}

.action-btn:disabled {
    cursor: default;

    background-color: var(--thin-line-color);
    color: var(--dark-gray-text-color);
}

#summarize-btn {
    margin-top: 24px;
    margin-left: 514px;
}

/* load-contract-container */
.load-contract-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    height: 124px;
}
  
.upload-icon {
    align-items: center;
}

.upload-text {
    align-items: center;
    color: var(--secondary-text-and-elements-color);
}

/* request-limit-container */
.request-limit-container {
    margin-top: 32px;
}

.limit-bar-container {
    display: flex;
    align-items: end;
    gap: 24px;
}

.limit-text-bar-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.small-limit-text {
    color: var(--secondary-text-and-elements-color);
}

.limit-bar {
    width: 238px;
    height: 10px;
    border-radius: 8px;
    overflow: hidden;
}

#limit-warning-text {
    color: var(--error-text-color);
}

/* обычное состояние шкалы лимитов */
/* background: */
.limit-bar::-webkit-progress-bar {background-color: var(--basic-back); width: 100%;}
.limit-bar {background-color: var(--basic-back);}

/* value: */
.limit-bar::-webkit-progress-value {background-color: var(--main-accent-color) !important; border-radius: 8px;}
.limit-bar::-moz-progress-bar {background-color: var(--main-accent-color) !important; border-radius: 8px;}
.limit-bar {color: var(--main-accent-color); border-radius: 8px;}

/* максимальное количество лимитов в шкале лимитов */
.limit-bar-is-max::-webkit-progress-value {background-color: var(--error-text-color) !important; border-radius: 8px;}
.limit-bar-is-max::-moz-progress-bar {background-color: var(--error-text-color) !important; border-radius: 8px;}
.limit-bar-is-max {color: var(--error-text-color); border-radius: 8px;}

.limit-other-container{
    display: flex;
    width: 525px;
    height: 38px;
    justify-content: space-between;
    margin-top: 32px;
}

.plan-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.perday-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Режим для ввода текста */
.text-input {
    margin-top: 8px;
    width: 100%;
    height: 146px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    resize: none;
}

/* Исчезновение при фокусе */
:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder          {color: transparent;}
:focus:-moz-placeholder           {color: transparent;}
:focus:-ms-input-placeholder      {color: transparent;}

textarea::-webkit-scrollbar {
    width: 4px;
    height: 146px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--additional-accent-color);
    border-radius: 8px;
}

textarea::-webkit-scrollbar-track {
    background-color: var(--hr-scrol-color);
    border-radius: 8px;
}

/* Стиль при закидывании файла в DropBox*/
.drop-box {
    background-color: #808587;
    border-color: #272727;
}

#progress-container{
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}

.uploading-progress-bar-file {
    width: 192px;
    height: 4px;
    border-radius: 4px;
    overflow: hidden;
    transition: width 0.3s ease;
}

.ready-progress-bar-file {
    width: 192px;
    height: 4px;
    border-radius: 4px;
    overflow: hidden;
    transition: width 0.3s ease;
}

/* upload file bar in progress */

/* background: */
.uploading-progress-bar-file::-webkit-progress-bar {background-color: var(--basic-back); width: 100%;}
.uploading-progress-bar-file {background-color: var(--basic-back);}

/* value: */
.uploading-progress-bar-file::-webkit-progress-value {background-color: var(--main-accent-color) !important; border-radius: 4px;}
.uploading-progress-bar-file::-moz-progress-bar {background-color: var(--main-accent-color) !important; border-radius: 4px;}
.uploading-progress-bar-file {color: var(--main-accent-color); border-radius: 4px;}

/* ready uplod file */

/* background: */
.ready-progress-bar-file::-webkit-progress-bar {background-color: var(--basic-back); width: 100%;}
.ready-progress-bar-file {background-color: var(--basic-back);}

/* value: */
.ready-progress-bar-file::-webkit-progress-value {background-color: var(--main-border-btn-color) !important; border-radius: 4px;}
.ready-progress-bar-file::-moz-progress-bar {background-color: var(--main-border-btn-color) !important; border-radius: 4px;}
.ready-progress-bar-file {color: var(--main-border-btn-color); border-radius: 4px;}

.name-file-bar-container {
    width: 193px;
    height: 28px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-and-elements-color);
}

.name-expansion-container {
    display: flex;
}

#upload-file-name {
    max-width: 193px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#close-file-icon {
    cursor: pointer;
}

#plan-expired-border {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 572px;
    height: 245px;
    gap: 0;
    padding: 0;
    margin-left: 24px;
}

#acute-icon {
    margin-top: 21px;
    margin-bottom: 8px;
}

#expired-btn {
    margin-top: 16px;
}

#loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 172px auto;
}

#load-icon {
    width: 96px;
    height: 96px;
    overflow: hidden;
    margin-bottom: 32px;
    animation: rotateAnimation 1.5s linear infinite;
}

@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-text {
    color: var(--dark-gray-text-color);
}

#error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin: 194px auto;
}

.error-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--dark-gray-text-color);
}

#response-container {
    display: flex;
    flex-direction: column;
}

#response-header {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 24px;
    gap: 12px;
}

#link-back-summarize {
    display: flex;
}

#img-back-summarize {
    cursor: pointer;
}

#text-back-summarize {
    color: var(--secondary-text-and-elements-color);
    cursor: pointer;
}

#response-boards-container {
    display: flex;
    gap: 8px;
    margin-top: 24px;
    margin-left: 24px;
}

#content-boards-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#general-board {
    display: flex;
    flex-direction: column;
    width: 882px;
    min-height: 315px;
    padding: 20px;
    gap: 20px;
    border: 1px solid var(--basic-background-color);
    position: relative;
}

#parties-boards-container {
    display: flex;
    gap: 8px;
}

#first-party-board, 
#second-party-board {
    display: flex;
    flex-direction: column;
    width: 437px;
    min-height: 367px;
    border: 1px solid var(--basic-background-color);
    padding: 20px;
    gap: 15px;
    position: relative;
}



#response-btns {
    display: flex;
    margin-top: 24px;
    margin-left: 24px;
    gap: 16px;
    align-items: center;
}


#general-dates {
    display: flex;
    gap: 71px;
}

.response-text-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.response-point-text-block {
    display: flex;
    flex-direction: column;
}

.bold-title {
    color: var(--main-border-btn-color);
}

.response-tag {
    position: absolute;
    top: 20px;
    right: 36px;

    padding: 8px 12px;
    border-radius: 30px;
    border: 1px;
    background-color: var(--main-accent-color);
}

.point-list {
    margin-left: 10px;
    list-style-type: "- ";
}

.point-list li {
    margin-top: 6px;
}

.first-parties-line {
    width: 260px;
}

.second-parties-line {
    width: 376px;
}

#response-side-panel {
    width: 270px;
    height: 690px;
    border-radius: 8px;
    border: 1px solid var(--basic-background-color);
    padding: 32px 16px;
}

#response-contract-details-header {
    display: flex;
    justify-content: center;
}

#response-name-file-container {
    display: flex;
    align-items: center;
}

#response-contract-details-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#response-file-name {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#response-name-icon-file {
    display: flex;
    align-items: center;
    gap: 1px;
}

#response-name-icon-file {
    width: 220px;
}

#pages-processed-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.response-side-panel-title {
    color: var(--secondary-text-and-elements-color);
}

#another-contract-btn,
#response-upgrade-plan-btn {
    width: 238px;
}

#response-side-panel-hr {
    margin: 40px 0;
}

#response-requests-limit-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#response-requests-limit-header {
    display: flex;
    justify-content: center;
}

#response-limit-text-bar-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.response-limit-data-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#file-downloaded-container {
    display: flex;
    align-items: center;
}

#file-downloaded-text {
    color: var(--downloaded-text-color);
}

